/*GENERAL & UNIVERSAL */

body {
    box-sizing: border-box;
}

/*HEADER*/

header {
    height: 445px;
    background: linear-gradient(to top right, rgba(255,107,133,1), rgba(146,37,240,1));
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
}

nav a:link {
    text-decoration: none;
    color: rgba(86,40,130,1);
}

/*PROJECTS*/
/*TEAM*/
/*OUR CRAZY IDEAS*/
/*MISSION*/
/*CONTACT*/